[submodule "src/interbotix_ros_rovers"]
	path = src/interbotix_ros_rovers
	url = https://github.com/AlessioLovato/interbotix_ros_rovers.git
	branch = humble
[submodule "src/interbotix_ros_core"]
	path = src/interbotix_ros_core
	url = https://github.com/AlessioLovato/interbotix_ros_core.git
	branch = humble
[submodule "src/interbotix_ros_toolboxes"]
	path = src/interbotix_ros_toolboxes
	url = https://github.com/AlessioLovato/interbotix_ros_toolboxes.git
	branch = humble
[submodule "src/kobuki_ros"]
	path = src/kobuki_ros
	url = https://github.com/kobuki-base/kobuki_ros.git
	branch = devel
[submodule "src/kobuki_core"]
	path = src/kobuki_core
	url = https://github.com/kobuki-base/kobuki_core.git
	branch = release/1.4.x
[submodule "src/kobuki_ros_interfaces"]
	path = src/kobuki_ros_interfaces
	url = https://github.com/kobuki-base/kobuki_ros_interfaces.git
	branch = release/1.0.x
[submodule "src/ecl_core"]
	path = src/ecl_core
	url = https://github.com/stonier/ecl_core.git
	branch = release/1.2.x
[submodule "src/ecl_lite"]
	path = src/ecl_lite
	url = https://github.com/stonier/ecl_lite.git
	branch = release/1.2.x
[submodule "src/Azure_Kinect_ROS_Driver"]
	path = src/Azure_Kinect_ROS_Driver
	url = https://github.com/mguidolin/Azure_Kinect_ROS_Driver.git
	branch = fix
[submodule "src/apriltag_ros"]
	path = src/apriltag_ros
	url = https://github.com/Adlink-ROS/apriltag_ros.git
	branch = foxy-devel
[submodule "src/apriltag_calibration"]
	path = src/apriltag_calibration
	url = https://github.com/mguidolin/apriltag_calibration.git
	branch = ros2-humble
